<.header>
  New Database
  <:subtitle>Use this form to manage database records in your database.</:subtitle>
</.header>

<.database_form changeset={@changeset} action={~p"/databases"} />

<.back navigate={~p"/databases"}>Back to databases</.back>
